@{
    ViewBag.Title = "Home Page";
}


<div class="row margin-top:45px">
    <div class="col-md-6">
        @Html.ActionLink("Product Record","Index", "Product")
    </div>
    <div class="col-md-6">
        @Html.ActionLink("Category Record","Index", "Category")
    </div>
    
</div>